@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@keyframes intro{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
html{
    height: 100%;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
}
textarea:focus, input:focus{
    outline: none;
}
.login-container{
    animation: intro 2s;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
h1{
    text-align: center;
    padding-top: 50px;
}
.login{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
}
.login #user, #pass, .btn{
    margin: 0 auto;
    margin: 7px;
    font-size: 16px;
    margin-top: 6px;
    width: 90%;
}
.login #user, #pass{
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid grey;
    background-color: none;
}
.login p{
    padding-top: 12px;
    font-size: 14px;
}
.login a{
    text-decoration: none;
    color: green;
}
.login a:hover{
    color: rgb(36, 36, 212);
}
.error{
    color: rgba(255, 0, 0, 0.918);
    display: inline-block;
    font-size: 16px;
}
.btn{
    border: none;
    border-radius: 2px;
    background-color: rgb(64, 196, 64);
    height: 40px;
    margin-top: 16px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}
